@tailwind base;
@tailwind components;
@tailwind utilities;

/* Corrigé : le #app doit prendre toute la largeur sans marge ni padding */
#app {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
}

/* Liens */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Supprimer tout style de fond inutile en desktop */
@media (min-width: 1024px) {
  body {
    display: block;
    background-color: hsla(140, 2.30%, 74.70%, 0.20); /* Assorti à ton site */
  }

  #app {
    display: block;
    padding: 0;
  }
}
